{% load i18n %}


<form method="get" action="/results"> 
  <input type="hidden" name="subdomain" value=""> 
  <input type="hidden" name="role" value="provide"> 
  <input type="hidden" name="small" value=""> 
  <input type="hidden" name="style" value=""> 
  <table class="query" align="center"> 
    <tr> 
      <td class="instructions " colspan="2"> 
        
          <h3 class="sub_title">発見情報を提供する</h3> 
            
              見つけたペットの詳細を入力してください
            
        
      </td> 
    </tr> 
    
    
        <tr> 
          <td class="label"> 
            <label for="name">ペットの名前:</label> 
          </td> 
          <td class="field"> 
            
              <input id="name" name="name"
                  value="" size=20> 
            
          </td> 
        </tr> 

      
        <tr> 
          <td class="label"> 
            <label for="size"> 
              
                サイズ:
              
            </label> 
          </td> 
          <td class="field"> 
            
            <input id="size" name="size"
                value="" size=20> 
            
          </td> 
        </tr> 
        
    

        <tr> 
          <td class="label"> 
            <label for="body_color">color:</label> 
          </td> 
          <td class="field"> 
            
              <input id="body_color" name="body_color"
                  value="" size=20> 
            
          </td> 
        </tr> 



        <tr> 
          <td class="label"> pattern</td> 
          <td class="field"> 
            
              <input id="body_pattern" name="body_pattern"
                  value="" size=20> 
            
          </td> 
        </tr> 


        <tr> 
          <td class="label"> 
            <label for="body_characteristics">characteristics:</label> 
          </td> 
          <td class="field"> 
            
              <input id="body_characteristics" name="body_characteristics"
                  value="" size=20> 
            
          </td> 
        </tr> 


        <tr> 
          <td class="label"> 
            <label for="situation">situation:</label> 
          </td> 
          <td class="field"> 
            
              <input id="situation" name="situation"
                  value="" size=20> 
            
          </td> 
        </tr> 


        <tr> 
          <td class="label"> 
            <label for="leash">leash:</label> 
          </td> 
          <td class="field"> 
            
              <input id="leash" name="leash"
                  value="" size=20> 
            
          </td> 
        </tr> 


        <tr> 
          <td class="label"> 
            <label for="collar">collar:</label> 
          </td> 
          <td class="field"> 
            
              <input id="collar" name="collar"
                  value="" size=20> 
            
          </td> 
        </tr> 


        <tr> 
          <td class="label"> 
            <label for="location">location [latitude,longtude]:</label> 
          </td> 
          <td class="field"> 
            
              <input id="location_lat" name="location_lat"
                  value="" size=20> 
              <input id="location_lng" name="location_lng"
                  value="" size=20> 
          </td> 
        </tr> 


        <tr> 
          <td class="label"> 
            <label for="last_seen_date">last_seen_date:</label> 
          </td> 
          <td class="field"> 
            
              <input id="last_seen_date" name="last_seen_date"
                  value="" size=20> 
            
          </td> 
        </tr> 


        <tr> 
          <td class="label"> 
            <label for="registration_num">registration_num:</label> 
          </td> 
          <td class="field"> 
            
              <input id="registration_num" name="registration_num"
                  value="" size=20> 
            
          </td> 
        </tr> 



        <tr> 
          <td class="label"> 
            <label for="micro_chip_num">micro_chip_num:</label> 
          </td> 
          <td class="field"> 
            
              <input id="micro_chip_num" name="micro_chip_num"
                  value="" size=20> 
            
          </td> 
        </tr> 


        <tr> 
          <td class="label"> 
            <label for="other">other:</label> 
          </td> 
          <td class="field"> 
            
              <input id="other" name="other"
                  value="" size=20> 
            
          </td> 
        </tr> 





    
    <tr> 
     
    </tr> 
    <tr> 
      <td colspan=2 class="submit" align="center"> 
        
          <input type="submit" value="この人に関する情報を提供する"> 
        
      </td> 
    </tr> 
  </table> 
</form> 
 